html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  cursor: url('/transparent-pixel.png'), auto;
}

.hidden {
  display: none;
}

.gui {
  user-select: none;
  position: fixed;
}

.numPlayers {
  position: fixed;
  right: 24px;
  top: 24px;
  color: white;
  padding: 4px 8px;
  background: rgba(100, 100, 100, .8);
  border-radius: 8px;
  border: solid thin rgba(255, 255, 255, .1);
  pointer-events: none;
}

.numPlayers .count {
  font-family: "Verdana";
  font-size: 28px;
  text-align: center;
}

.numPlayers label {
  text-transform: uppercase;
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 18px;
  font-family: "Arial";
  display: block;
  margin-top: 4px;
}

.fps {
  position: fixed;
  left: 12px;
  top: 12px;
  color: rgba(255, 255, 255, .2);
  pointer-events: none;
}

.countdown {
  color: rgb(200, 200, 200);
  font-size: 18px;
  font-family: "Arial";
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: rgba(100, 100, 100, .8);
  border-radius: 2px;
  border: solid thin rgba(255, 255, 255, .1);
  pointer-events: none;
}

.countdown .num {
  color: white;
  font-family: "Verdana";
  font-size: 28px;
}

.console {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 50%;
  height: 30%;
  background: rgba(0, 0, 0, .6);
  pointer-events: initial;
  border: solid 1px rgba(255, 255, 255, .5);
  font-family: "Courier New";
  color: white;
}

.console .output {
  width: 100%;
  height: calc(100% - 30px);
  overflow-y: auto;
}

.console input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  background: transparent;
  padding: 0px 4px;
  outline: none;
  border: none;
  border-top: solid 1px rgba(255, 255, 255, .5);
  color: white;
}

.spacebar {
  position: fixed;
  left: 50%;
  top: calc(50% + 80px);
  transform: translateX(-50%);
}

.prototype {
  display: none !important;
}

.summary {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  text-align: center;
}

.summary .content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.summary .rank {
  color: #f2ff00;
  font-size: 64px;
}

.summary .totalPlayers {
  color: #b7b7b7;
  font-size: 48px;
}

.summary button {
  background: rgba(100, 100, 100, .5);
  border: solid 1px black;
  padding: 16px;
  outline: none;
  color: white;
  font-size: 32px;
  transition: .3s;
}

.summary button:hover {
  border-color: #c6faff;
  background: rgba(100, 100, 100, .75);
  color: #c6faff;
}

.cursor {
  position: fixed;
  pointer-events: none;
  transform: translate(-100px, -100px);
}

.gui .error {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 25%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 32px;
  color: #ff7272;
  background: rgba(50, 50, 50, .8);
  padding: 16px;
}