html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.hidden {
  display: none;
}

.gui {
  pointer-events: none;
  position: fixed;
}

.numPlayers {
  position: fixed;
  right: 24px;
  top: 24px;
  color: white;
  padding: 4px 8px;
  background: rgba(100, 100, 100, .8);
  border-radius: 8px;
  border: solid thin rgba(255, 255, 255, .1);
}

.numPlayers .count {
  font-family: "Verdana";
  font-size: 28px;
  text-align: center;
}

.numPlayers label {
  text-transform: uppercase;
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 18px;
  font-family: "Arial";
  display: block;
  margin-top: 4px;
}

.fps {
  position: fixed;
  left: 12px;
  top: 12px;
  color: rgba(255, 255, 255, .2);
}

.countdown {
  color: rgb(200, 200, 200);
  font-size: 18px;
  font-family: "Arial";
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: rgba(100, 100, 100, .8);
  border-radius: 2px;
  border: solid thin rgba(255, 255, 255, .1);
}

.countdown .num {
  color: white;
  font-family: "Verdana";
  font-size: 28px;
}

.console {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 50%;
  height: 30%;
  background: rgba(0, 0, 0, .6);
  pointer-events: initial;
  border: solid 1px rgba(255, 255, 255, .5);
  font-family: "Courier New";
  color: white;
}

.console .output {
  width: 100%;
  height: calc(100% - 30px);
  overflow-y: auto;
}

.console input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  background: transparent;
  padding: 0px 4px;
  outline: none;
  border: none;
  border-top: solid 1px rgba(255, 255, 255, .5);
  color: white;
}

.spacebar {
  position: fixed;
  left: 50%;
  top: calc(50% + 80px);
  transform: translateX(-50%);
}