.inventory {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px gray;
  background: linear-gradient(#ffe1b1, #b3d2a9);
  border-radius: 4px;
  text-align: center;
}

.inventory>.armor {
  position: relative;
  padding: 24px;
}

.inventory .col {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}

.inventory .armor .slot {
  width: 64px;
  height: 64px;
  margin-bottom: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gui .slot {
  transition: .3s;
  width: 64px;
  height: 64px;
  border: solid 2px white;
  vertical-align: top;
  box-sizing: border-box;
}

.gui .empty.slot {
  border: dashed 2px #9b9b9b;
  opacity: .3;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.gui .slot.drop-target {
  border-color: black;
  border-width: 3px;
}

.gui .slot img {
  width: 100%;
  height: 100%;
}

.inventory .slot[part=bag] {
  position: absolute;
  bottom: 4px;
  left: 18px;
}

.inventory hr {
  border: none;
  height: 3px;
  background: gray;
  margin: 0px;
}

.inventory .bag {
  padding: 18px;
  width: 452px;
  text-align: left;
}

.inventory .bag .slot {
  display: inline-block;
  margin-right: 4px;
}