.quickbar {
  display: flex;
}

.quickbar .slot {
  border: solid 2px rgba(255, 255, 255, 1);
  background: rgba(100, 100, 100, 1);
  display: inline-block;
  opacity: .5;
  vertical-align: bottom;
  pointer-events: all;
  margin-right: 7px;
}

.quickbar .selected.slot {
  opacity: 1 !important;
}

